<div>
    <div class="pull-right">
        <a ng-click="showNew()" class="btn btn-primary"><span class="icon-plus-sign"></span> New Suite</a>
    </div>

    <h1>Suites</h1>
    <div class="media suite" ng-repeat="suite in suites">
        <div class="media-body">
            <h4 class="media-heading"><a href="#/suites/{{suite.id}}">{{suite.name}}</a>
                <a ng-click="confirmDeleteSuite(suite);" class="clickable"><i class="icon-trash" title="Delete Suite"></i></a></h4>
            <ol>
                <li ng-repeat="result in suite.suiteRuns">
                    <a href="#/suites/{{suite.id}}/suiteRuns/{{suite.id}}">{{suiteRun.updatedAt | dateFormatter}}</a>
                    <span class="pass">{{suiteRun.pass}}</span>/<span class="fail">{{suiteRun.fail}}</span>/<span class="exception">{{result.exception}}</span>
                </li>
            </ol>
        </div>
    </div>
</div>