<div>
    <processing show="isProcessing"></processing>
    <div>
        <h4 style="display:inline-block">AB Compare created on: {{compare.createdAt | dateFormatter}}</h4>&nbsp;&nbsp;&nbsp;
        <a class="clickable headerIcon" ng-click="showEditModal = true;"><i class="icon-edit" data-n="edit" title="Edit AB Compare"></i></a>
        <a class="clickable headerIcon" ng-click="runCompare()"><i class="icon-play-sign" title="Run AB Compare Now"></i></a>
    </div>
    <div>
        <h5>Page A:</h5>
        <a ng-href="#/pages/{{compare.pageA.id}}">{{compare.pageA.name}}</a> <br />
        <a ng-href="{{compare.pageA.url}}">{{compare.pageA.url}}</a>
        <h5>Page B:</h5>
        <a ng-href="#/pages/{{compare.pageB.id}}">{{compare.pageB.name}}</a> <br />
        <a ng-href="{{compare.pageB.url}}">{{compare.pageB.url}}</a>
    </div>
    <div class="media" ng-repeat="diff in compare.snapshotDiffs">
        <h4>Diff taken on {{diff.createdAt | dateFormatter}}</h4>
        <a class="media-object pull-left" href="#/compares/{{compare.id}}/results/{{diff.id}}">
            <img class="bigThumb" ng-src="{{diff.snapshotA | snapshotImage}}">
            <img class="bigThumb" ng-src="{{diff.snapshotB | snapshotImage}}">
            <img class="bigThumb" ng-src="{{diff | diffImage}}">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                {{diff.timestamp | dateFormatter}}
                <span class="viewDiff"><a href="#/compares/{{compare.id}}/results/{{diff.id}}" class="clickable"><i class="icon-eye-open" title="View Diff"></i></a></span>
            </h4>
            <div class=>Distortion: <span class="{{diff | distortionClass}}">{{diff.distortion}}</span></div>
            <div>{{diff.warning}}</div>
        </div>
    </div>
</div>