<div>
    <processing show="isProcessing"></processing>
    <div class="pull-right">
        <a class="btn btn-primary" ng-click="showNew()"><i class="icon-plus-sign"></i> New</a>
    </div>
    <h1>AB Compares</h1>
    <div class="media" ng-repeat="compare in compares">
        <a class="pull-left media-object" ng-href="#/compares/{{compare.id}}">
            <img class="bigThumb" ng-src="{{ compare.pageA | pageThumb }}"><img class="bigThumb" ng-src="{{ compare.pageB | pageThumb }}">
        </a>
        <div class="media-body">
            <h4 class="media-heading"><a ng-href="#/compares/{{compare.id}}">{{compare.name}}</a>
                <a ng-click="deleteCompare(compare);" class="clickable"><i class="icon-trash" title="Delete Compare"></i></a></h4>
            <h5>Page A:</h5>
            <a ng-href="#/pages/{{compare.pageA.id}}">{{compare.pageA.name}}</a> <br />
            <a ng-href="{{compare.pageA.url}}">{{compare.pageA.url}}</a>
            <h5>Page B:</h5>
            <a ng-href="#/pages/{{compare.pageB.id}}">{{compare.pageB.name}}</a> <br />
            <a ng-href="{{compare.pageB.url}}">{{compare.pageB.url}}</a>
        </div>
    </div>
</div>