<div class="row">
    <div class="col-md-12">
        <processing show="isProcessing"></processing>
        <div class="pull-right">
            <a class="btn btn-primary" ng-click="showNew()"><i class="icon-plus-sign"></i> New</a>
            <a class="btn btn-primary" ng-click="showBulk()"><i class="icon-plus-sign"></i><i class="icon-plus-sign"></i> Bulk</a>
        </div>
        <h1>Pages</h1>
        <div class="media" ng-repeat="page in pages">
            <a class="pull-left" ng-href="#/pages/{{page.id}}">
                <img class="media-object bigThumb" ng-src="{{page | pageThumb }}">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><a ng-href="#/pages/{{page.id}}">{{page.name}}</a>
                    <a ng-click="confirmDeleteSuite(page);" class="clickable"><i class="icon-trash" title="Delete Page"></i></a></h4>
                <span>{{page.url}}</span><br/>
                <span>{{page.snapshots.length}} Screenshots</span><br/>
            </div>
        </div>
    </div>
</div>